
:root {
  --black-color: #333333;
  --wite-color: #fff;
  --site-btm: #FF9900;
  --border-color:#CACACA;
  --input-color:#414141;
  --footer-color: #222222;
  --hover-color:#FF9900;
  --activ-color:#E1670E;
  --hover-color2: #ffc670;
  --hover-color3:#666666;
  --activ-color3:#000000;
  --question__svg-color:#D2D2D2;
  --form__inner-color:#595959;
  --menu__box-color:#ECEFF1;
  --menu__item-color:#CFD8DC;
}
  .burger__item {
    width: 30px;
    height: 3px;
    background-color: var(--black-color);
    margin: 6px 0;
  }
  @media (max-width:1451px) {
    .img1 {
      display: none;
    }
    .nav__link {
      display: none;
    }
  }

 @media (min-width: 1451px) {
    .burger__menu {
      display: none;
    }
    @media (min-width:320px) {
      .about__img {
        display: none ;
      }
    }
}
@media (max-width:1451px) {
  /* header */
  .container {
    padding: 0 50px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
}
   .burger__menu {
    margin-top: 10px;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 34px;
  left: 49px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--black-color);
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 415px;
  height: 770px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: left;
  z-index: 2;
  background-color: var(--wite-color);
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 50%);
}
.menu__item {
  display: block;
  padding: 37px 50px;
  color: var(--black-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.menu__item:hover {
  background-color: var(--menu__item-color);
  color: var(--hover-color);

}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.logo {
  margin-right: 4px;
  background-image: url('../img/Logo1.2.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* hero */
.hero {
  height: 670px;
}

.hero-content  {
  padding: 164px 0 0 76px;
}
.hero-content__heading {
  font-size: 60px;
  line-height: 73px;
  margin: 0 0 15px 0;
}
.hero-content__text {
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0;
  width: 690px;
  margin-bottom: 59px;
}
/* about */
.about {
  padding-top: 85px;
}
.about__heading {
  margin-bottom: 9px;
}
.about__text {
  max-width: 925px;
  margin-bottom: 62px;
}
.about-content {
  flex-direction: column;
}
.about-content__left {
  min-height: 640px;
  margin-bottom: 32px;
}
.about-left__text {
  padding-right: 65px;
}
.about-content__right {
  max-width: 924px;
  margin-left: 0;
}
.about-right__item {
  padding: 65px 155px 65px 315px;
}
.about-right__item {
  background-position: left 76px top 64px;
}
.about-right__item:first-child {
  background-position: left 76px top 64px;
}
.about-right__text {
  margin: 7px 0 0;
  line-height: 32px;
}
/* work */
.work {
  padding-top: 27px;
}
.work-left__text {
  max-width: 437px;
  margin-bottom: 26px;
}
.work-right1,
.work-right2,
.work-right3,
.work-right4 {
  background-size: cover;
  height: 689px;
  margin-top: 10px;
}
/* question  */
.question {
  padding-top: 85px;
  padding-bottom: 79px;
}
.question__heading {
  margin-bottom: 32px;
}
.question__title {
  font-size: 20px;
  justify-content: normal;
  flex-wrap: wrap;
  padding-top: 30;
  padding-bottom: 30px;
}
.question__title-text {
  width: 780px;
  line-height: 32px;
}

.dash {
  padding: 0;
}
.question__title:nth-child(2n) {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* footer */

.footer__container{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-left {
  margin-left: 0;
}
.footer-centr {
  padding-left: 43px;
}
.footer__title {
  padding: 7px 0px 23px 27px;
}
.footer__form {
  margin-left: 27px;
}
.form__input, .form__textarea {
  width: 540px;
}
.form__btn {
  padding: 19px 37px;
  margin-right: 23px;
}
.footer__right {
  display: none;
}
}
@media (max-width:1200px) {
  .work-right {
    width: 437px;
  }
}

@media (max-width:986px) {
  /* header */
  .header__container {
    height: 57px;
  }
  .menu__btn  {
    top: 17px;
    left: 50px;
  }
  .menu__box {
    height: 731px;
  }
  /* hero */
  .hero {
    height: 664px;
  }

  .hero-content {
    padding: 165px 0 0 40px;
}
  .hero-content__heading {
   font-size: 50px;
   line-height: 62px;
   margin: 0 0 13px 0;
}
.hero-content__text {
  font-size: 18px;
  line-height: 22px;
  word-spacing: 0;
  width: 588px;
}
/* about */
.about {
  padding-top: 85px;
}
.about-content__left {
  min-height: 649px;
}
.about__text {
  margin-bottom: 60px;
}
.about-left__inner {
  padding: 35px 41px 32px 40px;
}
.about-left__text {
  padding-right: 50px;
  line-height: 32px;
}
.about-left__btn {
  margin-left: 0;
}
.about-right__item {
  height: 236px;
  padding: 36px 35px 6px 168px;
  background-image: url('/img/Frame1.1.svg');
  background-repeat: no-repeat;
}
.about-right__item:first-child {
  background-position: left 39px top 67px;
}
.about-right__item2 {
  background-image: url('../img/Frame2.2.svg');
  background-repeat: no-repeat;
  background-position: left 39px top 67px;
}
/* work */
.work-content {
  justify-content: normal;
  flex-wrap: wrap;
}
.work__heading {
  margin-bottom: 49px;
}
.work__list {
   margin-bottom: 50px;
}
.work__item:not(:last-child) {
  margin-right: 155px;
}
.work-right1,
.work-right2,
.work-right3,
.work-right4  {
  order: -1;
  background-size: cover;
  width: 668px;
  height: 284px;
  margin-top: 0;
  margin-bottom: 42px;
}
.work-left {
  width: 100%;
}
.work-left__text {
  max-width: 668px;
  margin-bottom: 24px;
}
/*question*/
.question {
  padding-top: 87px;
  padding-bottom: 80px;
}
.question__heading {
  line-height: 57px;
  margin-bottom: 31px;
}
.question__title-text {
  width: 575px;
}

/* footer */
.footer__container  {
  flex-wrap: wrap;
}
.footer__list {
  display: none;
}
.footer-left {
  order: 1;
}
.footer__title {
  padding: 5px 0px 24px 0px;
}
.footer__form {
  margin-left: 0px;
}
.footer-centr {
  padding-left: 0;
  padding-bottom: 50px;
}
.footer__logo {
  margin-bottom: 16px;}

.footer__social {
  margin-top: 0;
}
  }
  @media (min-width:694px) {
    .about-content__left2 {
      display: none;
    }
    .accordion_icon2 {
      display: none;
    }
    .footer__svg2 {
      display: none;
    }
  }
@media (max-width:694px) {
  /* header */
  .container {
    padding: 0 15px;
  }
  .header__container {
    height: 59px;
}
.menu__btn {
  top: 19px;
  left: 15px;
}
.menu__box {
  width: 177px;
  height: 377px;
}
.menu__item {
  font-size: 16px;
  padding: 20px 24px;
}
.header {
  padding-bottom: 9px;
}
  .logo {
    background-image: url('../img/Logo1.3.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.search {
  padding: 3px 0 0 1px;
}
/* hero */
.hero {
  height: 309px;
}
.hero-content {
  padding: 63px 18px 0 21px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width:10px;
  height: 10px;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px !important;
}

.hero-content__heading {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 7px 0;
  text-align: center;

}
.hero-content__text {
  font-size: 12px;
  line-height: 15px;
  width: 247px;
  text-align: center;
  margin-bottom: 33px;
}
.hero-content__btn {
  font-size: 12px;
  padding: 13px 28px;

}
/* about */
.about {
  padding-top: 62px;
}
.about__heading {
  margin-bottom: 21px;
  font-size: 24px;
}
 .about__text {
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 13px;
 }
 .about-content__left {
   display: none;
  flex-direction: column;
  background-image: none;
  min-height: 290px;
  padding: 0;
}
.about-content__left2 {
  margin-bottom: 33px;
}
.about__img2 {
 background-image: url('/img/Rectangle1.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

height: 200px;
}
.about-left__text2 {
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  color: var(--black-color);
  padding: 9px 0px;
}
.about-left__btn2 {
  font-weight: 700;
  font-size: 12px;
  padding: 11px 42px;
  margin-right: 128px;
  color:var(--site-btm);
  border: 2px solid var(--site-btm);
  transition: background-color .3s ease-out,border-color .3s ease-out;
}
.about-left__btn2:hover {
  background-color: var(--hover-color);
  color: var(--wite-color);
}
.about-left__btn2:active {
 background-color: var(--activ-color);
 border-color: var(--activ-color);
}
.about-left__inner2 {
  padding: 0;
  flex-direction: column;
  background:none
}
.about-content__righ {
  max-width: 290px;
}
.about-right__title {
  line-height: 21px;
  font-weight: 500;
  font-size: 18px;
}
.about-right__text {
  font-size: 14px;
  line-height: 28px;
}
.about-right__item {
  background-image: url('/img/Frame2.3.svg');
  background-repeat: no-repeat;
  background-position: left top;
  border: none;
  height: 249px;
  padding: 62px 0px 0px 0px;
}
.about-right__item:first-child  {
  background-position: left top;
}
.about-right__item2 {
  background-image: url('/img/Frame1.3.svg');
  background-repeat: no-repeat;
}
/* work */
.work {
  padding-top: 32px;
}
.work__heading {
  font-size: 24px;
  margin-bottom: 21px;
}
.work__list {
  margin-bottom: 15px;
}
.work__item:not(:last-child) {
  margin-right: 44px;
}
.work__btn {
  font-size: 14px;
}
.work-right1,
.work-right2,
.work-right3,
.work-right4  {
  height: 160px;
  margin-bottom: 22px;
}
.work-left__title {
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 18px;
}
.work-left__text {
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 15px;
}
.work-left__btn {
  padding: 13px 44px;
  font-size: 12px;
}
.work-left__btn:last-child {
  padding: 12px 30px;
  font-size: 12px;
  margin-left: 6px;
}
/* question */

.question {
  padding-top: 64px;
  padding-bottom: 60px;
}
.question__heading {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 18px;
}
.question__title {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 30px;
}
.accordion_icon2 {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--border-color);
  margin-left: auto;
}
.question__svg2 circle {
  transition: fill 0.5s ease-out;
}
.question__svg2 path {
 transition: fill 0.5s ease-out;
}
.question__title:hover circle {
  fill: var(--hover-color);
}
.question__title:hover path {
 fill: var(--wite-color);
}

.question__title-text {
  width: 237px;
  line-height: 24px;
}
.accordion_icon {
  display: none;
}

/* footer */
.footer__container {
  padding-bottom: 21px;
}

.footer__title {
  font-size: 24px;
  padding: 34px 0px 20px 0px;
}
.footer__form {

  align-items: center;
}
.form__input, .form__textarea {
  width: 290px;
}
.footer-centr {
  padding-bottom: 16px;
}
.form__input {
  font-size: 14px;
  padding: 14px 21px;
}
.form__textarea {
  font-size: 14px;
  padding: 22px 21px;
  margin-bottom: 20px;

}
.form__inner {
  flex-direction: column;
  border-bottom: 1px solid var(--form__inner-color);
  padding-bottom: 21px;
}
.form__btn {
 font-size: 12px;
 margin: 0 4px 20px 0;
 padding: 13px 29px;
}
.form__label {
  width: 291px;
}
.checkbox__text {
  margin-right: 15px;
}
.img2 {
  display: none;
}
.footer__logo {
  width: 290px;
  background-image: url('/img/Logo1.4.svg');
  background-repeat: no-repeat;
  background-position: top center;
  height: 50px;
  margin-bottom: 0;
}
.footer__svg {
  display: none;
}
.footer__social {
  justify-content: center;
    margin: 5px 8px;
}
.footer__icon1 {
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.footer__icon2 {
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.footer__icon3 {
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.footer__svg2 path {
  transition: fill 0.5s ease-out;
}
.footer__svg2:hover path {
  transition: fill 1s ease;
  fill: var(--hover-color);
}
.footer__svg2:active path {
  fill: var(--activ-color);
}
}
@media (max-width:550px) {
  .hero-content {
    padding: 63px 0 0 0;
    max-width: 430px;
  }
}
